*{

	margin: 0px;
	padding:0px;

}


.wrapper {
	border: 1px green;
	max-width: 500px;
	width: 100%;
	margin: 20px auto;
	padding: 30px;
	background: lightblue;
}

.input-field {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.label {
	width: 200px;
	color: black;
	margin-right: 10px;
	font-size: 14px;
}

.input, .textarea {
	width: 100%;
	outline: none;
	border: 1px solid #d5dbd9;
	font-size: 15px;
	padding: 8px 10px;
	border-radius: 3px;
}

.form-content{


background-repeat:no-repeat;
width:100%;

background-position:center center;
background-attachment:fixed;



}

.textarea {
	resize: none;
	height: 125px;
}

.check input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: 0;
	opocity: 0;
}

.checkmark {
	width: 15px;
	height: 15px;
	border: 1px solid #fec107;
	display: block;
	position: relative;
}

.checkmark:before {
	content: "";
	position: absolute;
	top: 1px;
	left: 2px;
	width: 5px;
	height: 5px;
	border: 2px solid;
	border-color: transparent transparent #fff #fff;
	transform: rotate(-45deg);
}

.btnpost {
	width: 100%;
	background-color: green;
	color: black;
	border: none;
	padding: 8px 10px;
	border-radius: 3px;
	cursor: pointer;
}

.btnpost:hover {
	background-color: lightgreen;
}

.input:focus, .textarea:focus {
	border: 1px solid red;
}

.title {
	font-size: 24px;
	margin-bottom: 25px;
	color: black;
	text-transform: uppercase;
}



.form {
	text-align: center;
	padding: 20px;
	
	max-width: 500px;
	width: 100%;
	margin: 20px auto;
	padding: 30px;
	border:2px black;
	background:rgb(0,0,0,0.4);
	
}

#hed {
	
	color:black;
	padding: 50px;
	text-align: center;
}

p {
	font-size: 14px;
	color: black;
	'
}

.check {
	width: 20px;
	height: 15px;
	postion: relative;
	cursor: pointer;
	display: block;
}

@media ( max-width :420px) {
	.input-field {
		flex-direction: column;
		align-items: flex-start;
	}
	.input-field label {
		margin-bottom: 5px;
	}
}
